.corps{
	color: white;
	background-image:url(../Images/aurore.jpg) ; 
	/*background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);*/
	background-size: cover; 
	background-position: fixed;
}

.form1{
	margin-top: 130px;
	background-color: black;
	height: 200px;
	opacity: 0.7;
	border-radius: 20px; 
	box-shadow: 0px 0px 20px rgba(32, 255, 255, 0.5);
}

/*h3{
	text-align: center;
	margin-top: 50px;
	font-weight: bold;
	margin-bottom: 50px;
}*/

.btn{
	background:rgb(119 84 100) ;
	border:none;
	border-radius: 10px;
	box-shadow: 0 1px rgba(32, 255, 255, 0.5) ;
}

.btn a{
	color: white;	
	font-weight: bolder;
}

		/*............*/
.Navigation{
	background-color: inherit;
	border-top: inherit;
	border-right: inherit;
	border-left: inherit;
	margin-bottom: -20px;
	border-bottom: 1px solid rgb(139 139 139);
}

.My{
	color: white;
	font-family: Arial Black;
}

.Formular{
	color: aqua;
	font-family: Yu Gothic UI Semibold;
}	
				
.Menu li a{
	color: white !important;
}

.Menu li a:hover{
	color: aqua !important;
	font-weight: bold;
	background-color: inherit;
}

@media only screen and (min-width: 993px){

	.My{
		margin-bottom: 10px;
		font-size: 35px;
	}

	.Formular{
		margin-bottom: 10px;
		margin-left: 10px;
		font-size: 35px;
	}

	// .Menu{
	// 	font-size: 15px;
	// 	background-color: inherit;
	// 	position: relative;
	// 	bottom: 5px;
	// }

	// .Menu li a{
	// 	font-size: 20px;
	// 	padding-bottom: 20px;
	// }			